.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(270, 100%, 30%);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(30, 100%, 70%);
}

.Header-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #c8c6d7;
}

a {
  color: hsl(60, 100%, 30%);
  text-decoration: none;
  text-transform: uppercase;
}

.infoCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  flex-direction: row;
  justify-content: flex-start;
}
